header {
    background-color: grey;
}
#logo > img{
    background: mediumpurple;
}

main {
    background-color: orange;
}

/*-------------------------------------------------------------------*/

html,body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background-color: #25292d;
}


header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    width: auto;
    padding: 0 10vh;

    border-style: solid;
    border-width: 0 0 0 thin;
    /*border-bottom-width: thin;*/
    order: 1;
}

#logo {
    order: 1;
    flex-grow: 0;
    margin: 0 10vh 0 0;
}
#logo > img {
    max-height: 96px;
    /*max-width: 432px;*/
    max-width: 90vw;
    width: auto;
    object-fit: contain;

}

#nav-buttons {
    order: 2;
    flex-grow: 1;
}

#right-buttons {
    padding: 0 0 0 10vh;
    order: 3;
    flex-grow: 2;
}

/*<nav>*/

#nav-buttons>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    align-content: center;
    width: auto;
    text-align: center;
}

#nav-buttons>nav>ul>li {
    margin: 5px;
    float: left;
    background-color: red;
    flex-grow: 1;
}
#nav-buttons>nav>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#right-buttons>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    align-content: center;
    width: auto;
    text-align: center;
}

#right-buttons>ul>li {
    margin: 5px;
    float: left;
    background-color: #777fff;
    flex-grow: 1;
}
#right-buttons>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

main {text-align: center;
    order: 2;
}

footer {
    text-align: center;
    background-color: #394047;
    order: 3;
}

/*text*/
html {
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*tmp*/

/*content*/
/*product*/
#productList {
    display: flex;
    align-items: flex-start;
}
.product {
    background-color: red;
    width: 400px;
    /*width: 250px;*/
    height: fit-content;
    margin: 15px 32px;
}
#price {
    color: azure;
}
#prodImg {
    margin-top: 10px;
    width: 250px;
    height: 166px;
}