@font-face {
    font-family: Multicolore;
    src: url(/css/fonts/Multicolore.otf);
}
/*-------------------------------------------------------------------*/

html,body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background-color: #25292d;
}


header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: auto;
    padding: 0 10vh;

    border-style: solid;
    border-width: 0 0 thin 0;
    /*border: 5px #ff0000;*/

    /*border-bottom-width: thin;*/
    order: 1;

}

#logo {
    order: 1;
    flex-grow: 0;
    margin: 0 10vh 0 0;
}
#logo > a > img {
    max-height: 96px;
    /*max-width: 432px;*/
    max-width: 90vw;
    width: auto;
    object-fit: contain;

}

#nav-buttons {
    order: 2;
    flex-grow: 1;
    color: #333333;

}

#right-buttons {
    padding: 0 0 0 10vh;
    order: 3;
    flex-grow: 2;
}

/*<nav>*/

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    align-content: center;
    width: auto;
    text-align: center;
}

header li {
    margin: 5px;
    float: left;
    flex-grow: 1;
}
#nav-buttons a, #right-buttons a  {
    display: block;
    /*color: white;*/
    color: #cacaca;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header a, header a:hover, header a:visited{
    text-decoration: none;
}

main {
    text-align: center;
    order: 2;
    width: inherit;
    /*background-image: url("/css/backgrounds/texture_black01.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
main>h1{
    color: #c0ca75;
}

footer {
    text-align: center;
    background-color: #394047; /*OLD*/
    /*background-color: #6c7075;!*NEW*!*/
    order: 3;
    font-family: arial, Times new roman, monospace;
    font-size: 25px;
    color: #8e9dbd;
}

/*text*/
html {
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
}

/*tmp*/

/*content*/
/*product*/
#productList {
    /*width: 70v%;*/
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    background-color: #353333;
    width: 400px;
    /*width: 250px;*/
    height: fit-content;
    margin: 15px 32px;
    box-shadow: 11px 12px 6px 0 rgba(0,0,0,0.42);
    -webkit-box-shadow: 11px 12px 6px 0 rgba(0,0,0,0.42);
    box-sizing: border-box;
    border-radius: 4px;
    /*border: #050607;*/
    border-style: solid;
    border-width: 7px;
    border-color: #5f5f5f;
}
.product a,.product a:hover,.product a:visited{
    text-decoration: none;
    color: #a8c4d6;
}

#price {
    color: azure;
}
#prodImg {
    margin-top: 10px;
    width: 250px;
    height: 200px;
}



html {
    font-family: Multicolore, Courier, monospace;
}

#slideshow {
    background-color: #050607;
}
#slideshow>img {
    max-width: 90vw;
    width: auto;
    object-fit: contain;
}


#filters > p{
    color: #d0556c;
}
#filters > p >select {
    font-size: 20px;
    max-height: 30px;
}

#contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#contact,#logIn {
    margin: 5px;
    /*background-color: #d0d0d0;*/
    /*font-family: arial, Times new roman, monospace;*/ /*Possible versió*/
    font-size: 1.5vw;
    width: inherit;
    padding: 5vh 0;
    color: azure;


    align-content: center;
    justify-content: center;
    align-items: center;
}
#contact a,#logInBox a{
    color: #8e9dbd;
    /*color: #bcd6e6;*/
}

#contactMethodsList{
    order: 1;
    margin: 5vw 0 ;
}
#contactMethodsList  a,li {
    list-style-type: none;
    text-decoration: none;
}
#contactMethodsList td {
    text-align: left;
}

#contactMethods{
    order: 2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: auto;
}


#email{
    order: 1;
}
#phone{
    order: 2;
}
#form{
    order: 3;
}
#contactMethods  #email , #contactMethods #phone,#contactMethods #form, #logInBox{
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(86, 198, 213, 0.68);
    margin: 5px;
    padding: 10px;
    /*font-family: arial, Times new roman, monospace;*/
    font-size: 25px;
}


#contactMethods table, #contactMethods td, #contactMethods th{
    border: 1px solid black;
    border-color: #eee;
}
#contactMethods  table{
    border-collapse: collapse;
    display: table;
    background-color: transparent;
    text-align: center;
    line-height: 2;
    width: 30em;
}
#form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#form>#contactForm{
    order: 1;
}
#form textarea {
    margin: 17px 10px 5px 10px;
}
#contactMethods table tr:nth-child(even) {
    /*background-color: #fff0de;*/
    background-color: #525252;
    /*background-color: #fff;*/
}
#contactMethods  table tr:nth-child(odd) {
    /*background-color: #eee;*/
    background-color: #363636;
}

#logIn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#logInBox{
    order: 1;
    width: max-content;
    text-align: center;
}



#logInForm{
    width: 30vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#logInResponse{
    margin-top: 15px;
    font-size: 15px;
    color: red;
}

#link{
cursor: -webkit-grabbing;
cursor: grabbing;
margin-top: 15px;
}